body {
  background-color: #DDDDDD;
  background-image: url('/img/front/bg.png');
  margin: 0px;
  font-family: Verdana;
  font-size: 12px;
}

img {
  border: none;
}

a:link {
  color: #0000CC;
}

a:hover {
  text-decoration: none;
}

#top-outer {
  width: 800px;
  margin: 8px auto;
}

#nav {
  float: right;
}

#nav li {
  list-style: none;
  float: left;
  margin-left: 0.5em;
}

#splash-outer {
  background-color: #C0C0C0;
}

#splash-inner {
  width: 800px;
  margin: auto;
}

#splash-nav-previous {
  float: left;
}

#splash-nav-next {
  float: right;
}

#splash-container {
  width: 800px;
  height: 212px;
  overflow: hidden;
  position: relative;
}

#splash-slides {
  position: absolute;
  top: 0px;
  left: 0px;
}

.splash-slide {
  position: absolute;
  top: 0px;
  width: 800px;
  padding: 6px 0px;
}

.splash-slide-image {
  float: left;
  margin: 0px 8px 0px 0px;
}

#main-outer {
}

#main-inner {
  width: 800px;
  margin: auto;
  text-align: center;
}

#version {
  background-color: #DDDDDD;
  margin: 10px 0px;
  padding: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: #C0C0C0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  text-align: left;
}

#downloads {
  margin: 10px;
}

#downloads > span {
  display: inline-block;
}

#downloads > span > a {
  text-decoration: none;
}

#footer-outer {
  background-color: #C0C0C0;
}

#footer-inner {
  width: 800px;
  margin: auto;
  padding: 6px;
  text-align: center;
}

.clear {
  clear: both;
}

/*****************************/
/* Begin main content styles */
/*****************************/

#content {
  margin-right: 210px;
}

/***************************/
/* End main content styles */
/***************************/

/************************/
/* Begin sidebar styles */
/************************/

#sidebar {
  float: right;
  width: 200px;
}

.sidebar-module {
  list-style: none;
  background-color: #DDDDDD;
  border-style: solid;
  border-width: 1px;
  border-color: #C0C0C0;
  margin-bottom: 10px;
}

.sidebar-module-header, .sidebar-module-content {
  padding: 3px 5px;  
}

.sidebar-module-header {
  background-color: #C0C0C0;
}

.sidebar-module-content {
  text-align: left;
}

/* Latest news module */

.sidebar-module-news-posts {
  margin: 0px;
  padding: 0px;
}

.sidebar-module-news-posts li {
  list-style: none;
}

.sidebar-module-news-posts-name {
  float: right;
  padding-top: 2px;
  font-size: 9px;
  font-style: italic;
}

.sidebar-module-news-posts-name a:link, .sidebar-module-news-posts-name a:visited {
  color: #707070;
}

/* News tags module */

.sidebar-module-twitter {
  margin: 0px;
  padding: 0px;
}

.sidebar-module-twitter li {
  list-style: none;
  margin-bottom: 5px;
}

.sidebar-module-twitter-time {
  float: right;
  padding-top: 2px;
  font-size: 9px;
  font-style: italic;
}

.sidebar-module-twitter-time a:link, .sidebar-module-twitter-time a:visited {
  color: #707070;
}

/**********************/
/* End sidebar styles */
/**********************/

/*********************/
/* Begin news styles */
/*********************/

#news-posts {}

.news-post {
  text-align: left;
  margin: 10px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #C0C0C0;
  background-color: #DDDDDD;
}

.news-post-header, .news-post-footer {
  padding: 3px 5px;  
  background-color: #C0C0C0;
}

.news-post-header-time {
  float: right;
}

.news-post-content {
  padding: 0px;
}

.news-post p {
  margin: 4px;
}

.news-post-image {
  float: left;
  margin: 5px;
}

/*******************/
/* End news styles */
/*******************/
